<header>
    <h1>Háčkování</h1>
    <a href="/"><img src="{{ '/assets/img/logo/logo.png' | absolute_url }}"
            srcset="{{ '/assets/img/logo/logo@2x.png' | absolute_url }} 2x, '/assets/img/logo/logo@3x.png' | absolute_url }} 3x"
            alt="" aria-hidden="true" class="logo"></a>

    <h2>Co je ‘Háčkování’?</h2>
    <p>{{ site.description | escape }}</p>

    <p class="definition">
        <dfn>hacker</dfn> <i>|ˈhakə|</i><br>
        {{ site.hacker_definition | escape }}
        <p>

            <h2>Zapoj se</h2>
            <p>{{ site.join_us | escape }}</p>

            <a href="#" class="button">napiš e-mail</a>

</header>