<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta property="og:url" content="https://inf.upol.cz/hackovani">
    <meta property="og:title"
        content="{{ site.title | escape }}{% if page.title %} - {{ page.title | escape }}{% endif %}">
    <meta property="og:description"
        content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta property="og:image" content="/assets/img/social/social.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: full_base_url }}">
    <title>{{ site.title | escape }}{% if page.title %} - {{ page.title | escape }}{% endif %}</title>
</head>