---
layout: default
---

<section>
  <div class="container--flex space-between headings headings--no-mt">
    <h2>Archiv událostí</h2>
  </div>

  {% for event in site.categories.events %}
  {% if event.url %}
  <article class="article">
    <header class="article__header">
      <h3>{{ event.title }}</h3>

      <span>
        <time datetime="{{ event.date | date: '%Y-%m-%d %R' }}">
          {{ event.date | date: '%A' | czechDayDate }}
          {{ event.date | date: '%d. %m. %Y' }} /
          {{ event.date | date: '%R' }}
        </time> /
        {{event.room}}
      </span>
    </header>

    <div>
      {{ event.excerpt }}
    </div>
    <a href="{{ event.url }}" class="button">více informací</a>
  </article>

  {% endif %}
  {% endfor %}
</section>
