---
layout: default
---

<!-- Naplánované události -->
<section>
  <div class="container--flex space-between headings headings--no-mt">
    <h2>Naplánované události</h2>
    <a title="Archiv událostí" href="/event_archive" class="button">archiv událostí</a>
  </div>

  {% if site.categories.events %}

  {% for event in site.categories.events limit:3 %}
  {% if event.url %}
  <article class="article">
    <header class="article__header">
      <a title="{{ event.title }}" href="{{ event.url }}">
          <h3>{{ event.title }}</h3>
      </a>

      <span>
        <time datetime="{{ event.date | date: '%Y-%m-%d %R' }}">
          {% assign day = event.date | date: '%u' | minus: 1 %}
          {{ site.czdays[day] }}
          {{ event.date | date: '%d. %m. %Y' }} /
          {{ event.date | date: '%R' }}
        </time> /
        {{event.room}}
      </span>
    </header>

    <div>
      {{ event.excerpt }}
    </div>
    <a href="{{ event.url }}" class="button">více informací</a>
  </article>

  {% endif %}
  {% endfor %}

  {% else %}

  <article class="article">
    <p>Na plánovaní událostí usilovně pracujeme :)</p>
  </article>

  {% endif %}
</section>
<!-- END - Naplánované události -->

<!-- Studentské projekty -->
<!-- <section>
  <div class="container--flex space-between headings">
    <h2>Možnosti studentských projektů</h2>
    <a title="Všechny možnosti studentských projektů" href="/project_archive" class="button">zobrazit vše</a>
  </div>

  <p>Máte zájem vytvořit něco nad rámec výuky a nenapadá vás co? Vyberte si jeden ze studentských projektů.</p>

  {% for project in site.categories.projects %}
  {% if project.url %}

  <article class="article">
    <header class="article__header">
      <a title="{{ project.title }}" href="{{ project.url }}">
        <h3>{{ project.title }}</h3>
      </a>
      <span>{{ project.author }}</span>
    </header>

    <div>
      {{ project.excerpt }}
    </div>

    <a title="Více informací o projektu: {{ project.title }}" href="{{ project.url }}" class="button">více informací</a>
  </article>

  {% endif %}
  {% endfor %}

  <div class="text--center">
    <a title="Všechny možnosti studentských projektů" href="/project_archive" class="button">zobrazit vše</a>
  </div>
</section> -->
<!-- END - Studentské projekty -->
