---
layout: default
---

<section>
  <div class="container--flex space-between headings headings--no-mt">
    <h2>Studentský projekt</h2>
    <a title="Všechny možnosti studentských projektů" href="/project_archive" class="button">zobrazit vše</a>
  </div>

  <article class="article">
    <header class="article__header">
      <h3>{{ page.title }}</h3>
      <span>{{ page.author }}</span>
    </header>

    <div>
        {{ content }}
    </div>

    <h2>Máte o projekt zájem?</h2>
    <a href="mailto:{{ page.contact }}" class="button">kontaktovat autora</a>
  </article>

</section>
